<h1  style="margin-left: 15px;">welcome </h1>

{{#if length}}
<p style="margin-left: 15px;">All Users
</p>



    <table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Edit Users</th>
    <th>Delete Users</th>
  </tr>
    {{#each  responce}}
    <tr>
    <td>{{this.user_name}}</td>
    <td>{{this.user_email}}</td>
<td>

<a href={{constructUpdate}}><button class="btn">Edit</button></a>
</td> 
     <td>
           <form  action={{constructDelete}} method="POST">
            <input class="btn" type="submit" value="Delete">
        </form>
     </td>
      
  </tr>
        
    {{/each}}
    </table>

    <a style="margin-left: 15px;" href="/user/create"><button class="btn">insert user</button></a>

{{else}}
<h1>hey  insert user details <a href="/user/create">hear</a></h1>
{{/if}}



{{!-- <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr> --}}



     